iridanext {
    enabled = true
    output {
        path = "${params.outdir}/iridanext.output.json.gz"
        overwrite = true
        files {
            idkey = "irida_id"
            global = [
                "**/csvtk/merged_detailed_summary.staramr.tsv",
                "**/csvtk/merged_mlst.staramr.tsv",
                "**/csvtk/merged_plasmidfinder.staramr.tsv",
                "**/csvtk/merged_resfinder.staramr.tsv",
                "**/csvtk/merged_pointfinder.staramr.tsv",
                "**/csvtk/merged_summary.staramr.tsv",
                "**/pipeline_info/software_versions.yml"
                ]
            samples = [
                "**/*_results/*detailed_summary.staramr.tsv",
                "**/*_results/*mlst.staramr.tsv",
                "**/*_results/*plasmidfinder.staramr.tsv",
                "**/*_results/*resfinder.staramr.tsv",
                "**/*_results/*pointfinder.staramr.tsv",
                "**/*_results.staramr.xlsx",
                "**/*_settings.staramr.txt",
                "**/*_results/*summary.staramr.tsv"]
        }
        metadata {
            samples {
                rename = [
                    "Quality Module": "StarAMR Quality Module",
                    "Predicted Phenotype": "StarAMR Predicted Phenotype",
                    "CGE Predicted Phenotype": "StarAMR CGE Predicted Phenotype",
                    "Genotype": "StarAMR Genotype",
                    "Plasmid": "StarAMR Plasmid",
                    "Scheme": "StarAMR Scheme",
                    "Sequence Type": "StarAMR Sequence Type",
                    "N50 value": "StarAMR N50 value",
                    "Genome Length": "StarAMR Genome Length"
                ]
                keep = [
                    "Quality Module",
                    "Predicted Phenotype",
                    "CGE Predicted Phenotype",
                    "Genotype",
                    "Plasmid",
                    "Scheme",
                    "Sequence Type",
                    "N50 value",
                    "Genome Length"
                ]
            csv {
                path = "**/merged_summary.staramr.tsv"
                sep = "\t"
                idcol = "IRIDA_ID"
            }
        }
    }
    }
}


